{%extends 'base.html.twig' %}

{% block body %}

    <section class="articles">
            <article>
                <h2>{{ article.name }}</h2>
                <div class="content">
                    <p>{{ article.price }} </p>
                </div>
            </article>

    </section>
{% endblock %}